html, body, main, #map-canvas, #left-pane {
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

#left-pane {
  width: 30%;
  float: left;
  padding: 15px;
  overflow-y: auto;
}

#left-pane .label {
  margin-right: 5px;
  display: inline-block;
}

#left-pane .label.opac {
  opacity: 0.5;
}

#data-list-container hr {
  margin: 10px 0;
}

.data-heading {
  cursor: pointer;
}

.data-heading:hover {
  font-weight: bold;
}

#map-canvas {
  width: 70%;
  float: left;
}

.group-controls, .center-controls {
  background-color: #fff;
  border-radius: 1px;
  box-shadow: 0 0 3px rgba(0,0,0,.5);
  margin-top: 6px;
}

.group-controls > div,
.center-controls > div {
  color: rgb(25,25,25);
  font-family: Roboto, Arial, sans-serif;
  padding: 5px 8px;
  cursor: default;
}

.center-controls > div {
  display: inline-block;
  border-right: 1px solid #ccc;
}

.center-controls > div:last-child {
  border-right: none;
}

.center-controls > div:hover {
  background-color: #eee;
}

#group-list {
  margin: 6px 0 6px 0;
}

#group-list label {
  display: block;
}

#info-content > h1 > small {
  font-size: 0.6em;
  color: gray;
  margin-left: 5px;
}

#info-content .label {
  margin-right: 5px;
}
